.gallery {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	grid-row-gap: 70px;
	grid-column-gap: 6%;
	margin: 3.5% 0;
	background-color: #F6F6F6;
	padding-inline: 4%;
	padding-block: 56px;
	border-radius: 25px;
	width: 100%;
	article {
		height: 340px;
		border-radius: 10px;
	}
	a {
		cursor: pointer;
		text-decoration: none;
	}
}
