.ficheLogement {
    color: #ff6060;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    width: 100%;
    margin: auto;
}

.ficheLogementDescription p {
    padding-left: 10px;
    padding-top: 10px;
    background-color: #F6F6F6;
    border-radius: 0 0 10px 10px;
}