.aproposDescription {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-block: 10px 38px;
	justify-content: center;
	align-items: center;
	padding-inline: 100px;
	animation: fadein 2s;
	.aproposDropdown {
		width: 100%;
	}
	@media (width <= 1000px) {		
			padding-inline: 50px;	
	}	
	@media (width <= 768px) {		
			padding-inline: 0;	
	}
}
