.collapseTitle {
	display: flex;
	justify-content: space-between;
	background-color: #FF6060;
	align-items: center;
	border-radius: 10px;
	margin-top: 30px;
	padding: 10px 0;
	
	img {
		width: 25px;
		margin-right: 10px;
		margin-top: 5px;
		filter: brightness(0) invert(1);
		transition: transform 0.3s linear;
		cursor: pointer;
	}
	.rotate {
		transform: rotate(180deg);
	}
	h2 {
		font-size: 24px;
		color: white;
		padding: 0 15px;
	}
}
.collapseExpand {
	transition-property: height;
	transition-duration: 0.3s;
	overflow: hidden;
	p {
		font-size: 18px;
		font-weight: 400;
		color: black;
		padding: 15px;
		background-color: #F6F6F6;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}
