* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
}
.header img {
  height: 68px;
}
.header .nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
}
.header .nav a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  cursor: pointer;
}
.header .nav .active {
  border-bottom: 1px solid #000000;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 100%;
  gap: 25px;
  color: #fff;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 30px;
}
.footer img {
  width: 122px;
  height: 40px;
  filter: brightness(0) invert(1);
}
.footer .copyright {
  font-size: 24px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 223px;
  position: relative;
  animation: fadein 1s;
}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(0.7);
}
.banner-text {
  color: #fff;
  font-size: 48px;
  position: absolute;
  z-index: 2;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-row-gap: 70px;
  grid-column-gap: 6%;
  margin: 3.5% 0;
  background-color: #F6F6F6;
  padding-inline: 4%;
  padding-block: 56px;
  border-radius: 25px;
  width: 100%;
}
.gallery article {
  height: 340px;
  border-radius: 10px;
}
.gallery a {
  cursor: pointer;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.card-Img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(0.7);
}
.card-Title {
  font-weight: 700;
  color: #FFFFFF;
  margin-right: 20px;
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 20px;
}

.collapseTitle {
  display: flex;
  justify-content: space-between;
  background-color: #FF6060;
  align-items: center;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px 0;
}
.collapseTitle img {
  width: 25px;
  margin-right: 20px;
  margin-top: 5px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s linear;
  cursor: pointer;
}
.collapseTitle .rotate {
  transform: rotate(180deg);
}
.collapseTitle h2 {
  font-size: 24px;
  color: white;
  padding: 0 15px;
}

.collapseExpand {
  transition-property: height;
  transition-duration: 0.3s;
  overflow: hidden;
}
.collapseExpand p {
  font-size: 18px;
  font-weight: 400;
  color: black;
  padding: 15px;
  background-color: #F6F6F6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.aproposDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 10px 38px;
  justify-content: center;
  align-items: center;
  padding-inline: 100px;
  animation: fadein 2s;
}
.aproposDescription .aproposDropdown {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
