* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  font-weight: 700;
}
@media (width <= 768px) {
  main {
    margin: 35px;
  }
}
@media (width <= 450px) {
  main {
    margin: 0 20px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
}
@media (width <= 768px) {
  .header {
    margin: 35px;
  }
}
@media (width <= 450px) {
  .header {
    margin: 20px;
  }
}
.header img {
  height: 68px;
}
@media (width <= 768px) {
  .header img {
    height: 57px;
  }
}
@media (width <= 450px) {
  .header img {
    height: 47px;
  }
}
.header .nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
}
@media (width <= 768px) {
  .header .nav {
    gap: 20px;
  }
}
@media (width <= 450px) {
  .header .nav {
    gap: 20px;
  }
}
.header .nav a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  cursor: pointer;
}
@media (width <= 768px) {
  .header .nav a {
    font-size: 18px;
  }
}
@media (width <= 450px) {
  .header .nav a {
    font-size: 12px;
  }
}
.header .nav .active {
  border-bottom: 1px solid #000000;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 100%;
  gap: 25px;
  color: #fff;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 30px;
}
@media (width <= 450px) {
  .footer {
    padding-bottom: 65px;
  }
}
.footer img {
  width: 122px;
  height: 40px;
  filter: brightness(0) invert(1);
}
.footer .copyright {
  font-size: 24px;
}
@media (width <= 450px) {
  .footer .copyright {
    font-size: 12px;
    width: 134px;
    text-align: center;
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 223px;
  position: relative;
  animation: fadein 1s;
}
@media (width <= 768px) {
  .banner {
    height: 170px;
  }
}
@media (width <= 450px) {
  .banner {
    height: 111px;
  }
}
.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(0.7);
}
@media (width <= 450px) {
  .banner-img {
    border-radius: 10px;
  }
}
.banner-text {
  color: #fff;
  font-size: 48px;
  position: absolute;
  z-index: 2;
  text-align: center;
}
@media (width <= 768px) {
  .banner-text {
    font-size: 36px;
  }
}
@media (width <= 450px) {
  .banner-text {
    font-size: 24px;
    text-align: left;
  }
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-row-gap: 70px;
  grid-column-gap: 6%;
  margin: 3.5% 0;
  background-color: #F6F6F6;
  padding-inline: 4%;
  padding-block: 56px;
  border-radius: 25px;
  width: 100%;
}
@media (width <= 768px) {
  .gallery {
    grid-template-columns: auto auto;
    margin: 20px 0px;
    padding: 0;
    grid-gap: 20px;
    background-color: transparent;
  }
}
@media (max-width: 450px) {
  .gallery {
    grid-template-columns: auto;
    margin: 20px 0px;
    padding: 0;
    grid-gap: 20px;
    background-color: transparent;
  }
}
.gallery article {
  height: 340px;
  border-radius: 10px;
}
@media (width <= 1000px) {
  .gallery article {
    height: 300px;
  }
}
@media (width <= 768px) {
  .gallery article {
    height: 300px;
  }
}
@media (max-width: 450px) {
  .gallery article {
    height: 255px;
  }
}
.gallery a {
  cursor: pointer;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.card-Img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(0.7);
}
.card-Title {
  font-weight: 700;
  color: #FFFFFF;
  margin-right: 20px;
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 20px;
}

.collapseTitle {
  display: flex;
  justify-content: space-between;
  background-color: #FF6060;
  align-items: center;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px 0;
}
@media (width <= 450px) {
  .collapseTitle {
    padding: 5px 0;
    border-radius: 5px;
  }
}
.collapseTitle img {
  width: 25px;
  margin-right: 20px;
  margin-top: 5px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s linear;
  cursor: pointer;
}
@media (width <= 450px) {
  .collapseTitle img {
    width: 16px;
  }
}
.collapseTitle .rotate {
  transform: rotate(180deg);
}
.collapseTitle h2 {
  font-size: 24px;
  color: white;
  padding: 0 15px;
}
@media (width <= 450px) {
  .collapseTitle h2 {
    font-size: 13px;
  }
}

.collapseExpand {
  max-height: 182px;
  transition-property: height;
  transition-duration: 0.3s;
  overflow: hidden;
}
.collapseExpand p {
  height: 182px;
  font-size: 18px;
  font-weight: 400;
  color: black;
  padding: 15px;
  background-color: #F6F6F6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-y: auto;
}
@media (width <= 450px) {
  .collapseExpand p {
    font-size: 12px;
  }
}

.aproposDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 10px 38px;
  justify-content: center;
  align-items: center;
  padding-inline: 100px;
  animation: fadein 2s;
}
.aproposDescription .aproposDropdown {
  width: 100%;
}
@media (width <= 1000px) {
  .aproposDescription {
    padding-inline: 50px;
  }
}
@media (width <= 768px) {
  .aproposDescription {
    padding-inline: 0;
  }
}

.error {
  text-align: center;
  margin: 50px 0;
  color: #FF6060;
}
.error-title {
  font-size: 288px;
}
@media (width <= 768px) {
  .error-title {
    font-size: 140px;
  }
}
@media (width <= 450px) {
  .error-title {
    font-size: 96px;
  }
}
.error-subtitle {
  margin-top: 100px;
  font-size: 36px;
}
@media (width <= 768px) {
  .error-subtitle {
    font-size: 18px;
    margin-inline: 50px;
  }
}
@media (width <= 450px) {
  .error-subtitle {
    font-size: 18px;
    margin-inline: 50px;
  }
}
.error-link {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 18px;
  color: black;
  cursor: pointer;
  text-decoration: underline;
}
@media (width <= 768px) {
  .error-link {
    margin-inline: 50px;
  }
}
@media (width <= 450px) {
  .error-link {
    margin-inline: 50px;
  }
}
@media (width <= 768px) {
  .error-link a {
    font-size: 14px;
  }
}
@media (width <= 450px) {
  .error-link a {
    font-size: 14px;
  }
}

.ficheLogement {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  width: 100%;
  margin: auto;
}

.ficheLogementDescription p {
  padding-left: 10px;
  padding-top: 10px;
  background-color: #F6F6F6;
  border-radius: 0 0 10px 10px;
}

.ficheLogementDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  animation: fadein 2s;
}
@media (width <= 768px) {
  .ficheLogementDescription {
    display: flex;
    flex-direction: column;
  }
}

.ficheLogemenDropdown {
  width: 48%;
  list-style: none;
}
@media (width <= 768px) {
  .ficheLogemenDropdown {
    width: 100%;
  }
}

.sliderStyle {
  width: 100%;
  height: 415px;
  margin-bottom: 30px;
  position: relative;
}
@media (width <= 768px) {
  .sliderStyle {
    height: 340px;
  }
}
@media (width <= 450px) {
  .sliderStyle {
    height: 255px;
  }
}

.slideStyle {
  width: 100%;
  height: 100%;
}
.slideStyle .active {
  width: 100%;
  height: 100%;
}
.slideStyle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
@media (width <= 450px) {
  .slideStyle img {
    border-radius: 10px;
  }
}

.arrowStyle {
  width: 46px;
  height: 80px;
  position: absolute;
  top: 40%;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  filter: brightness(0) invert(1);
}
@media (width <= 450px) {
  .arrowStyle {
    width: 12px;
    height: 20px;
    top: 45%;
  }
}

.rightArrowStyle {
  right: 23px;
}

.leftArrowStyle {
  left: 23px;
}

.slideCounter {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 20px;
  color: white;
}
@media (width <= 450px) {
  .slideCounter {
    display: none;
  }
}

.logementHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: fadein 1.5s;
}
@media (width <= 768px) {
  .logementHeader {
    display: flex;
    flex-direction: column;
  }
}

.logementTitle h1 {
  font-weight: 500;
  font-size: 36px;
  padding-right: 10px;
}
@media (width <= 768px) {
  .logementTitle h1 {
    font-size: 25px;
    padding-bottom: 5px;
  }
}
@media (width <= 450px) {
  .logementTitle h1 {
    font-size: 18px;
  }
}

.logementTitle p {
  font-weight: 500;
  color: black;
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 20px;
}
@media (width <= 450px) {
  .logementTitle p {
    font-size: 14px;
  }
}

.logementTags {
  display: flex;
  gap: 10px;
}
.logementTags span {
  background-color: #ff6060;
  color: white;
  padding: 3px 16px;
  border-radius: 10px;
  font-size: 14px;
}
@media (width <= 768px) {
  .logementTags span {
    font-size: 10px;
  }
}

.logementOwner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (width <= 768px) {
  .logementOwner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.logementOwnerDetails {
  display: flex;
  justify-content: space-between;
  text-align: right;
  gap: 5px;
}
@media (width <= 450px) {
  .logementOwnerDetails {
    margin-top: 10px;
  }
}
.logementOwnerDetails h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}
@media (width <= 450px) {
  .logementOwnerDetails h3 {
    font-size: 12px;
  }
}

.logementOwnerBadge img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
@media (width <= 450px) {
  .logementOwnerBadge img {
    width: 32px;
    height: 32px;
  }
}

.logementOwnerStars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 36px;
  color: #E3E3E3;
}
@media (width <= 450px) {
  .logementOwnerStars {
    font-size: 18px;
    margin-top: 10px;
  }
}
.logementOwnerStars .on {
  color: #ff6060;
}

/*# sourceMappingURL=style.css.map */
